{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.nom }}</h2>
        <div class="metadata">Publié le 30/11/2021 à 11:31 dans la catégorie Pull</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            {{ article.description | raw }}
        </div>
    </article>
    <article>
{% endblock %}